---
title: Главная
layout: default.hbs
---

<div class="halloween-2021">

    <section class="halloween-2021-header">
        <div class="halloween-2021__center">
            <div class="halloween-2021-header__date">
                26-31 октября
            </div>

            <div class="halloween-2021-header__title">
                <span>Неделя</span>
                <span>детского</span>
                <span>ХЕЛЛОУВИНА</span>
                <span>в АндерСоне</span>
            </div>

            <div class="halloween-2021-header__desc">
                <div class="halloween-2021-header__desc__text">
                    пугающе вкусный ассортимаент
                </div>
                <div class="halloween-2021-header__desc__btn">
                    <a href="#" class="halloween-2021__btn-simple">
                        УЗНАТЬ ПОДРОБНЕЕ
                    </a>
                </div>
            </div>

        </div>
    </section>

    <section class="halloween-2021-flashmob">
        <div class="halloween-2021__center">

            <div class="halloween-2021-flashmob__title">
                <span>ФЛЕШМОБ</span>
                <span>«СЛАДОСТЬ ИЛИ ГАДОСТЬ»</span>
            </div>

            <div class="halloween-2021-flashmob__row">
                <div class="halloween-2021-flashmob__col-title">
                    <div class="halloween-2021-flashmob__title-2">
                        <span>НАШИ МАЛЕНЬКИЕ</span>
                        <span>ПРИВЕДЕНИЯ</span>
                        <span>ВЫХОДЯТ</span>
                        <span>НА ОХОТУ</span>
                    </div>
                </div>
                <div class="halloween-2021-flashmob__col-ghost">
                    <img src="images/halloween-2021/ghost.png" alt="">
                </div>
                <div class="halloween-2021-flashmob__col-desc">
                    <div class="halloween-2021-flashmob__desc">
                        <span>им необходимо добыть сладости,</span>
                        <span>которые они все очень любят.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="halloween-2021-program">
        <div class="halloween-2021__center">

            <div class="halloween-2021-program__title">
                <span>УЖАСНО ВЕСЁЛЫЕ</span>
                <span>ПРОГРАММЫ ПРАЗДНИКОВ</span>
            </div>

            <div class="halloween-2021-program__row">
                <div class="halloween-2021-program__col">
                    <div class="halloween-2021-program__item">
                        <div class="halloween-2021-program__image halloween-2021-program__image--l">
                            <img src="images/halloween-2021/cookie.png" alt="">
                        </div>
                        <div class="halloween-2021-program__desc halloween-2021-program__desc--1">
                            <span>КАШМАРНО</span>
                            <span>КУЛИНАРНЫЕ</span> 
                            <span>МАСТЕР-КЛАССЫ</span>
                        </div>
                    </div>
                    <div class="halloween-2021-program__btn">
                        <a href="#" class="halloween-2021__btn-green">ЗАПИСАТЬСЯ</a>
                    </div>
                    
                </div>
                <div class="halloween-2021-program__col">
                    <div class="halloween-2021-program__item halloween-2021-program__item--flip">
                        <div class="halloween-2021-program__image halloween-2021-program__image--r">
                            <img src="images/halloween-2021/diy-toy.png" alt="">
                        </div>
                        <div class="halloween-2021-program__desc halloween-2021-program__desc--2">
                            <span>СТРАШНО</span>
                            <span>ТВОРЧЕСКИЕ</span> 
                            <span>ПОДЕЛКИ</span>
                        </div>
                    </div>
                    <div class="halloween-2021-program__btn">
                        <a href="#" class="halloween-2021__btn-green">ЗАПИСАТЬСЯ</a>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="halloween-2021-when">
        <div class="halloween-2021__center">

            <div class="halloween-2021-when__row">
                <div class="halloween-2021-when__col-desc">

                    <div class="halloween-2021-when__date">29 октября, пятница</div>
                    <div class="halloween-2021-when__title">
                        <span>ВЕЧЕРИНКА</span> 
                        <span>С ПРИВЕДЕНИЯМИ</span>
                    </div>
                    <div class="halloween-2021-when__poster">
                        <img src="images/halloween-2021/poster.png" alt="">
                    </div>
                    
                </div>
                <div class="halloween-2021-when__col-girls">
                    <img src="images/halloween-2021/girls.png" alt="">
                </div>
            </div>

        </div>
    </section>

</div>





