@font-face {
	font-family: "LeOsler Rough Reg";
	src: url("../fonts/LeOsler-RoughRegular.eot");
	src: url("../fonts/LeOsler-RoughRegular.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/LeOsler-RoughRegular.woff2") format("woff2"),
		url("../fonts/LeOsler-RoughRegular.woff") format("woff"),
		url("../fonts/LeOsler-RoughRegular.ttf") format("truetype"),
		url("../fonts/LeOsler-RoughRegular.svg#LeOsler-RoughRegular")
			format("svg");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04F9;
}

@font-face {
	font-family: "Summer Font";
	src: url("../fonts/Summer Font Bold.eot");
	src: url("../fonts/Summer Font Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Summer Font Bold.woff2") format("woff2"),
		url("../fonts/Summer Font Bold.woff") format("woff"),
		url("../fonts/Summer Font Bold.ttf") format("truetype"),
		url("../fonts/Summer Font Bold.svg#Summer Font Bold") format("svg");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2074;
}

.halloween-2021 {
	font-family: "LeOsler Rough Reg", sans-serif;
	line-height: 1;
	background: #000;

	img {
		max-width: 100%;
	}

	a:after {
		display: none;
	}

	&__center {
		padding: 0 15px;
	}

	&__btn-simple {
		display: inline-block;
		padding: 6/20 + em 30/20 + em 10/20 + em 30/20 + em;
		border: 2px solid #fff !important;
		border-radius: 15px;
		font-size: 20px;
		text-align: center;
		color: #fff !important;
	}

	&__btn-green {
		display: block;
		padding: 13/26 + em 30/26 + em 18/26 + em 30/26 + em;
		background: url(../images/halloween-2021/btn-bg.png) no-repeat;
		background-size: 100% 100%;
		font-size: 26px;
		text-align: center;
		color: #fff !important;
	}

	&-header {
		position: relative;
		height: 450px;
		background: url(../images/halloween-2021/header.jpeg) no-repeat 37% -40px;
		background-size: auto 100%;

		&__date {
			position: absolute;
			top: 0;
			left: 15px;
			padding: 0.2em 15px 0.8em 15px;
			background: url(../images/halloween-2021/date-bg.png) no-repeat;
			background-size: 100% 100%;
			font-family: "Summer Font";
			font-size: 40px;
			color: #fff;
		}

		&__title {
			right: 15px;
			top: 20px;
			position: absolute;
			font-size: 29px;
			text-align: center;
			color: #fff;

			span {
				display: block;

				&:nth-child(1) {
					font-size: 29/29 + em;
				}
				&:nth-child(2) {
					font-family: "Summer Font";
					font-size: 46/29 + em;
					line-height: 0.6;
					padding-bottom: 0.1em;
					color: #97d700;
				}

				&:nth-child(3) {
					font-size: 31/29 + em;
				}

				&:nth-child(4) {
					font-size: 33/29 + em;
				}
			}
		}

		&__desc {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			padding: 10px 0;
			background: linear-gradient(rgba(#000, 0), #000 50%);

			&__text {
				font-size: 30px;
				color: #fff;
			}

			&__btn {
				margin-top: 12px;
			}
		}
	}

	&-flashmob {
		margin: 30px 0;

		&__title {
			font-size: 34px;
			color: #fff;

			span {
				display: block;

				&:nth-child(2) {
					color: #91d500;
				}
			}
		}

		&__row {
			margin-top: 20px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		&__col-title {
			flex: 0 0 auto;
			width: 45%;
		}

		&__col-ghost {
			flex: 0 0 auto;
			width: 55%;
		}

		&__col-desc {
			margin-top: 20px;
			flex: 0 0 auto;
			width: 100%;
		}

		&__title-2 {
			font-size: 38px;

			span {
				display: block;
				white-space: nowrap;
				font-size: 38/38 + em;
				font-family: "Summer Font";
				color: #fff;

				&:nth-child(n + 3) {
					font-size: 50/38 + em;
					color: #91d500;
				}
			}
		}

		&__desc {
			font-size: 21px;
			color: #fff;
		}
	}

	&-program {
		margin: 30px 0;

		&__title {
			font-size: 38px;

			span {
				display: block;
				font-size: 1em;
				color: #fff;

				&:nth-child(1) {
					color: #89c900;
				}
			}
		}

		&__row {
		}

		&__col {
			margin-top: 20px;
		}

		&__item {
			display: flex;
			align-items: center;

			&--flip {
				flex-direction: row-reverse;
			}
		}

		&__image {
			flex: 0 0 auto;
			width: 50%;

			&--l {
				padding-right: 20px;
			}

			&--r {
				padding-left: 20px;
			}
		}

		&__desc {
			flex: 0 0 auto;
			width: 50%;
		}

		&__text {
			font-size: 34px;
			line-height: 0.9;
			color: #91d500;

			span {
				display: block;
				white-space: nowrap;

				&:nth-child(1) {
					padding-bottom: 0.15em;
				}

				&:nth-child(2) {
					color: #fff;
				}

				&:nth-child(n + 2) {
					font-family: "Summer Font";
				}
			}

			&--1 {
				span {
					&:nth-child(1) {
						font-size: 34/34 + em;
					}
					&:nth-child(2) {
						font-size: 50/34 + em;
					}
					&:nth-child(3) {
						font-size: 36/34 + em;
					}
				}
			}

			&--2 {
				span {
					&:nth-child(1) {
						font-size: 40/34 + em;
					}
					&:nth-child(2) {
						font-size: 48/34 + em;
					}
					&:nth-child(3) {
						font-size: 60/34 + em;
					}
				}
			}
		}

		&__btn {
			margin: 15px 15px 0 15px;
		}

		&__btn-inside {
			display: none;
		}
	}

	&-when {
		margin-top: 70px;
		padding-bottom: 30px;
		background: #fff url(../images/halloween-2021/black-curve.png) no-repeat
			50% 0;
		background-size: 105% auto;

		&__row {
			display: flex;
		}

		&__col-desc {
			flex: 0 0 auto;
			width: 50%;
		}

		&__col-girls {
			flex: 0 0 auto;
			align-self: center;
			width: 50%;
		}

		&__date {
			padding-top: 10px;
			font-size: 20px;
			font-family: "Summer Font";
			color: #c30077;
		}

		&__title {
			margin-top: 7px;
			font-size: 21px;
			color: #c30077;

			span {
				display: block;
			}
		}

		&__poster {
			margin-top: 15px;
			padding-right: 20px;
		}
	}
}

@media (min-width: 768px) {
	.halloween-2021 {
		&__center {
			padding-right: 20px;
			padding-left: 20px;
		}

		&__btn-simple {
		}

		&__btn-green {
		}

		&-header {
			height: 550px;
			background-position: 50% 0;

			&__date {
			}

			&__title {
				position: static;
				padding-top: 40px;
			}

			&__desc {
				&__text {
				}

				&__btn {
				}
			}
		}

		&-flashmob {
			margin: 70px 0;

			&__title {
				font-size: 40px;
			}

			&__row {
			}

			&__col-title {
				width: 25%;
			}

			&__col-ghost {
				width: 35%;
			}

			&__col-desc {
				width: 40%;
			}

			&__title-2 {
			}

			&__desc {
			}
		}

		&-program {
			margin: 70px 0;

			&__title {
				font-size: 40px;
			}

			&__row {
				display: flex;
			}

			&__col {
				flex: 0 0 auto;
				margin-top: 70px;
				width: 45%;

				&:last-child {
					margin-left: 10%;
				}
			}

			&__item {
				align-items: flex-start;

				&--flip {
					flex-direction: row;
				}
			}

			&__image {
				padding: 0 30px 0 0;
				width: 40%;

				&--r {
					margin-top: -70px;
				}
			}

			&__desc {
				width: 60%;
			}

			&__text {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				min-height: 4em;

				&--1 {
				}

				&--2 {
				}
			}

			&__btn {
				display: none;
			}

			&__btn-inside {
				display: block;
				margin-top: 20px;
			}
		}

		&-when {
			margin-top: 100px;

			&__row {
			}

			&__col-desc {
			}

			&__col-girls {
				width: 32%;
			}

			&__date {
				padding-top: 40px;
				font-size: 34px;
			}

			&__title {
				margin-top: 15px;
				font-size: 40px;
			}

			&__poster {
				margin-top: 25px;
				max-width: 45%;
			}
		}
	}
}

@media (min-width: 1100px) {
	.halloween-2021 {
		&__center {
		}

		&__btn-simple {
		}

		&__btn-green {
		}

		&-header {
			height: 750px;

			&__date {
			}

			&__title {
			}

			&__desc {
				&__text {
				}

				&__btn {
				}
			}
		}

		&-flashmob {
			&__title {
			}

			&__row {
			}

			&__col-title {
			}

			&__col-ghost {
			}

			&__col-desc {
			}

			&__title-2 {
			}

			&__desc {
			}
		}

		&-program {
			&__title {
			}

			&__row {
			}

			&__col {
			}

			&__item {
				&--flip {
				}
			}

			&__image {
				&--l {
				}

				&--r {
				}
			}

			&__desc {
				&--1 {
				}

				&--2 {
				}
			}

			&__btn {
			}
		}

		&-when {
			&__row {
			}

			&__col-desc {
			}

			&__col-girls {
			}

			&__date {
			}

			&__title {
			}

			&__poster {
			}
		}
	}
}

@media (min-width: 1500px) {
	.halloween-2021 {
		&__center {
		}

		&__btn-simple {
		}

		&__btn-green {
		}

		&-header {
			height: 920px;

			&__date {
			}

			&__title {
			}

			&__desc {
				&__text {
				}

				&__btn {
				}
			}
		}

		&-flashmob {
			&__title {
			}

			&__row {
			}

			&__col-title {
			}

			&__col-ghost {
			}

			&__col-desc {
			}

			&__title-2 {
			}

			&__desc {
			}
		}

		&-program {
			&__title {
			}

			&__row {
			}

			&__col {
			}

			&__item {
				&--flip {
				}
			}

			&__image {
				&--l {
				}

				&--r {
				}
			}

			&__desc {
				&--1 {
				}

				&--2 {
				}
			}

			&__btn {
			}
		}

		&-when {
			&__row {
			}

			&__col-desc {
			}

			&__col-girls {
			}

			&__date {
			}

			&__title {
			}

			&__poster {
			}
		}
	}
}
